.button {
  color: #ffffff !important;
  background-color: #88b06a !important;
}

h1 {
  color: #88b06a !important;
}

/* .menu-text {
  font-size: 1.5em !important;
} */

.callout {
  background-color: #ffffff !important;
  border: none !important;
}

input, textarea {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #e0e0e0 !important;
}

textarea {
  font-style: italic !important;
  font-weight: bold !important;
}

.form-btn {
  float: right !important;
  font-weight: bold !important;
}

.info {
  color: #8e8e8e !important;
}
